.drinkMenuContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
   margin: 0;
   padding: 0;
}

.drinkMenuImage{
    position: relative;
    width: 100%;
    height: 50vh; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; 
}

.header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000; 
}
.menuTitle{
    color: #FFF;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-66%, -50%);

}


  /* *{
  outline: 1px solid red; 
    }     */
.menuDrink {
    color: #FFFFF0;
    background-color: black;
    width: 100%;
    background-color: black;
    height: auto;
    padding: 20px; 
}

.drink-category {
    margin-bottom: 30px;
    width: 90%;
    text-align: center;
}
.drink-category h3{
    font-size: 1.3rem;
    margin-bottom:  0 auto 15px;
    border-bottom: 2px solid #777;
    display: inline-block;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #fff;
}
.drink-items{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}
.item{
display: grid;
grid-template-columns: 2fr 4fr 1fr;
gap:10px;
border-bottom: 1px solid #444;
align-items: flex-start;
padding: 10px 0px;
}
.item-name{
    font-size: 1rem;
    font-weight: bold;
} 
.item-description,.item-description1,.item-description2 {
    font-size: 0.9rem;
    color: #aaa;
    font-style: italic;
}


.item-price,.item-price1,.item-price2 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: right;
    width: 80px;
}

@media (max-width: 768px) {
    .drinkMenuImage{
        width: 100%;
    }
    .drink-items{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .item{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
   
}


/* 
.drinkMenuContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.drinkMenuImage{
 display: flex; 

 align-items: center;
justify-content: center; 
 background-position: center; 
background-position: top center;
background-size: cover;
background-repeat: no-repeat;
 width: 100%; 
height: 60vh;
position: relative;
padding:0;
margin: 0;
}
.menuTitle{
    color: #FFFFF0;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 100;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.menuDrink{
    color: #FFFFF0;
    background-color: black;
    width: 100%;
    height: auto;
    padding: 20px;
}

.drink-category{
margin-bottom: 30px;
width: 90%;
text-align: center;
}
.drink-category h3{
    font-size: 1.3rem;
    margin-bottom:  0 auto 15px;
    border-bottom: 2px solid #777;
    display: inline-block;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #fff;
}
.drink-items{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}
.item{
display: grid;
grid-template-columns: 2fr 4fr 1fr;
gap:10px;
border-bottom: 1px solid #444;
align-items: flex-start;
padding: 10px 0px;
}
.item-name{
    font-size: 1rem;
    font-weight: bold;
} 
.item-description,.item-description1,.item-description2 {
    font-size: 0.9rem;
    color: #aaa;
    font-style: italic;
}


.item-price,.item-price1,.item-price2 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: right;
    width: 80px;
}

@media (max-width: 768px) {
    .drinkMenuImage{
        width: 100%;
    }
    .drink-items{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .item{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
   
} */
